h1{
  text-align: center;
  color: white;
}
html{
  background-color: #407088;
  min-height: 100vh;
  min-width: 100vh;
}
hr{
  min-width: 100vh;
  overflow: hidden;
  margin-left:0;
  margin-right: 0;
  left:0;
  right:0;
  background-color: #132743;
  color: #132743;
  height: 3px;
  border:0;
}
.notePage{
  background-color: #f5e1da;
  color: #407088;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow-y: scroll;
}
