textarea{
  border-style: none;
  background-color: #EAF4FC;
  color: #98C7F0;
}
html{
  background-color: #385170;
  color: #ececec;
  text-align: center;
}
h1{
  color: white;
  text-align: center;
  font-size: 12px;
}
#submitButton{
  border-style:none;
  color: #ececec;
  background-color: #142d4c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
#submitButton:hover{
  text-decoration: underline;
}
.smallNote{
  border-style: none;
  background-color:#EAF4FC;
  color: #385170;
  margin-bottom: 5px;
  padding-right:10px;
}
li{
  margin-left:5px;
  color:#132743;
}
ul{
  margin-left: 0;
  padding-left:10px;
}
