h1{
  text-align: center;
  color: white;
  font-size: 30px;
}
html{
  background-color: #407088;
  min-height: 100vh;
  min-width: 100vh;
}
li{
  font-size: 20px;
}
#note1{
  padding-top:20px;
  margin-left:20px;
}
#note2{
  margin-left:20px;
}
hr{
  min-width: 100vh;
  overflow: hidden;
  margin-left:0;
  margin-right: 0;
  left:0;
  right:0;
  background-color: #132743;
  color: #132743;
  height: 3px;
  border:0;
}
.notePage{
  background-color: white;
  color: #407088;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 30%;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow-y: scroll;
}
