h1{
  text-align: center;
  font-size: 30px;
}
html{
  background-color: #385170;
  min-height: 100vh;
  min-width: 100vh;
}
li{
  font-size: 20px;
}
.smallNote{
  padding-top:20px;
  margin-left:20px;
}
hr{
  min-width: 100vh;
  overflow: hidden;
  margin-left:0;
  margin-right: 0;
  left:0;
  right:0;
  background-color: #132743;
  color: #132743;
  height: 3px;
  border:0;
}
.notePage{
  background-color: #ececec;
  color: #385170;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 30%;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow-y: scroll;
}
.note:hover{
  text-decoration:line-through;
}
#clear{
  background-color: #385170;
  color: #f2f6f5;
  border-style:none;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
#clear:hover{
  background-color: #142d4c;
}
